body{
margin: 10px;
background-color:#00FFFF;
}
img{
  width: 400px;
  margin: 15px;
}
#java, #css, #php{
  display: none;
}
p{
  font-style: oblique;
}
ol{
  font-weight: bold;
}
ul{
  font-weight: bold;
}
.jumbotron{
  background-color: #E6E6FA;
  font-family: fantasy;
}
